[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "comradesOO"]
	path = comradesOO
	url = https://github.com/jlp-bioinf/comradesoo
[submodule "rnaCrosslinkOO"]
	path = rnaCrosslinkOO
	url = https://github.com/jlp-bioinf/rnacrosslinkoo
