[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RRNA"]
	path = RRNA
	url = https://github.com/jlp-bioinf/rrna
[submodule "rnaCrosslinkOO"]
	path = rnaCrosslinkOO
	url = https://github.com/jlp-bioinf/rnacrosslinkoo
